.email_component {
  width: 100%;
  height: 95%;
  position: relative;
  background-color: var(--white);
  border-radius: .3rem;
  padding: 1.4rem;
}

.header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  /* padding-inline: .5rem; */
  /* background-color: green; */
}

.header_title {
  font-size: 1.3rem;
  color: var(--dark-blue);
}

.header_img {
  width: 2.6rem;
  color: var(--dark-blue);
  font-weight: 600;
}

.form {
  height: 90%;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  gap: 2.5rem;
  /* background-color: yellow; */
  flex-direction: column;
  margin-top: 1rem;
}

.col {
  width: 100%;
  height: 100%;
}
.row {
  height: 2.7rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;

  gap: 1rem;
  align-items: flex-start;
}

.row label {
  color: var(--dark-blue);
  font-size: 0.9rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.message_input_section {
  height: 6rem;
}
.message_input_section textarea {
  padding: 0.5rem;
}

.input {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  color: black;
  border: none;
  background-color: var(--accent);
  padding-inline: 1rem;
  margin-top: 0.3rem;
}

.submit_btn {
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 50%;
  background-color: var(--fade);
  font-size: 1.7rem;
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  transition: all 0.3s ease;
  border: none;
}

.submit_btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media screen and (max-width: 830px) {
  .email_component {
    width: 100%;
    /* height: 40vh; */
    height: fit-content;
    /* padding-bottom: 2rem; */
  }
  .form {
    height: 23rem;
    padding: 1rem;
    /* background-color: purple; */
    width: 100%;
  }
  .message_input_section{
    height: 7.5rem;
  }
  .submit_btn{
    bottom: 1rem;
    right: 2rem;
  }

  .header_title{
    font-size: 1.5rem;
  }
}
